body {
  background-color: #fcfcfc;
  font-size: 16px;
  background-image: url(../styles/images/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid;   */
}
/*container=====================*/
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/*header=======================*/
.header {
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.col-lg-7 {
  margin-top: 10px;
}
/*nav==========================*/
.nav {
  display: flex;
  font-weight: 500;
  padding-right: 10px;
}
.nav a {
  font-size: 2rem;
  text-decoration: none;
  padding-right: 5px;
  color: #aaaaab;
  transition: color 0.3s;
}
.nav__link {
  margin-left: 74px;
  color: #aaaaab;
}
.nav .font-weight {
  font-weight: 700;
  color: #242424;
}
.nav a:hover {
  color: #56597a;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #f1659e;
  font-weight: 500;
  margin-bottom: -10px;
}
.intro__title_1 {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  color: #56597a;
  font-weight: 900;
  text-indent: -2.2rem;
  text-align-last: left;
  margin-bottom: 10px;
}
.intro__title_2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #919299;
  font-weight: 400;
  margin: 0;
  line-height: 32px;
}
.col-lg-5 img {
  margin-top: 30px;
  margin-left: 10px;

}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.row p {
  padding: 20px 0;
}
.row button {
  margin-top: 15px;
}
.choose-us {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  color: #56597a;
  font-weight: 900;
  padding-bottom: 30px;
  text-align: center;
}
/*Services========================*/

.button-services {
  width: 100%;
  background-color: #fff1f9;
  color: #56597a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: px;
  border-radius: 8px;
  border: 0px solid #f78cb6;
  height: 307px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*=================*/
.button3 {
  transition: background-color 0.5s;
}
.button3:hover {
  background-color: #f78cb6; 
  color: white;
  transition: background-color 1s;
  box-shadow: 1px 0 2px 2px rgb(230, 227, 227);
}
.svg-pics {
  fill: #f78cb6;
}
.button3:hover .svg-pics {
  fill: rgb(255, 255, 255);
  stroke: #ffffff;
  stroke-width: 0.06rem;
}
.button3:hover p {
  color: white;
}
.intro__title_3 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: #56597a;
  font-weight: 900;
  text-align: center;
}
.intro__title_4 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #f78cb6;
  font-weight: 400;
  margin: 0 10px;
}
/*button========================*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f78bb6;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover .intro__title_4 {
  color: white;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} 
.blog {
  background-color: #fcfcfc;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.footer {
  height: 200px;
  background-image: url("footerbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pepe img {
  display: block;
  margin: auto;
}
.pepe {
  padding: 0px;
  margin: 0;
}
.pepe2 {
  align-items: center;
  margin-left: 15px;
}
.pepe3 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: solid #d2d2d2;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("mail.svg");
  align-items: center;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 15px 20px 15px 40px;
}
.input-form {
  max-width: max-content;
  margin: auto;
  text-align: center;
  display: flex;
}
.rights-reserved {
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  padding-top: 10px;
  line-height: 32px;
}
.mirage-footer {
  background-color: #f78bb6;
  height: 54px;
}
.life-is-pain {
  text-align: center;
  background-color: red;
  padding: 100px;
}
.error {
  color: black;
  font-size: 144px;
  text-align: center;
  margin: 0 auto;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Services .intro__title, .intro__title_1 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cards button {
  width: 250px;
}
.card1 {
  position: relative;
}
.card1 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card2 {
  position: relative;
}
.card2 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card3 {
  position: relative;
}
.card3 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card4 {
  position: relative;
}
.card4 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.block_1 {
  margin-top: 70px;
}
.row1 {
 display: flex;
 justify-content: center;
 align-items: center;
}

