* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid;   */
}

body {
  background-color: #fcfcfc;
  font-size: 16px;
  background-image: 
    url(../styles/images/bg.png),
    url(../styles/images/2.png),
    url(../styles/images/3.png);
  background-repeat: no-repeat;
  background-position: 
    top right,
    center left,
    bottom center;
}

/*container=====================*/
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/*header=======================*/

.header-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: -webkit-sticky; 
  position: sticky;
  height: 80px; 
  background: linear-gradient(
    to right,
    #fff6f9,
    #ffffff,
    #fff6f9);
  top: 0; 
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

/*nav==========================*/
.header-logo {
  margin-top: -6px;
}
.nav {
  display: flex;
  font-weight: 500;
  padding-right: 10px;
}
.nav .nav__link {
  font-size: 2rem;
  text-decoration: none;
  padding-right: 5px;
  color: #aaaaab;
  transition: color 0.3s;
}
.nav__link {
  margin-left: 74px;
  color: #aaaaab;
  transition: 0.1s;
}
.home {
  font-weight: 500;
  font-size: 2.2rem;
  color: #56597a;
  margin-left: 74px;
  margin-top: -2px;
  transition: 0.1s;
}
.home:hover {
  text-decoration: none;
  transform: scale(0.98);
}
.home:after {
  display: block;
  content: '';
  border-bottom: solid 3px #f78bb6;  
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
}
.home:hover:after {
  transform: scaleX(1); 
}
.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #f78bb6;
  font-weight: 500;
  margin-bottom: -10px;
}
.intro__title_1 {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  color: #56597a;
  font-weight: 900;
  text-indent: -2.2rem;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 10px;
}
.intro__title_2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #919299;
  font-weight: 400;
  margin: 0;
  line-height: 32px;
}
.col-lg-5 img {
  margin-top: 30px;
  margin-left: 10px;

}
.creative-agency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.creative-agency p {
  padding: 20px 0;
}
.creative-agency button {
  margin-top: 15px;
}
.choose-us {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  color: #56597a;
  font-weight: 900;
  padding-bottom: 30px;
  text-align: center;
}
/*Services========================*/

.button-services {
  width: 100%;
  background-color: #fff6f9;
  color: #56597a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: px;
  border-radius: 8px;
  border: 0px solid #fff6f9;
  height: 307px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*=================*/
.button3 {
  transition: background-color 0.5s;
}
.button3:hover {
  background-color: #f78cb6; 
  color: white;
  transition: background-color 1s;
  box-shadow: 1px 0 2px 2px rgb(230, 227, 227);
}
.svg-pics {
  fill: #f78cb6;
}
.button3:hover .svg-pics {
  fill: rgb(255, 255, 255);
  stroke: #ffffff;
  stroke-width: 0.06rem;
}
.button3:hover p {
  color: white;
}
.intro__title_3 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: #56597a;
  font-weight: 900;
  text-align: center;
}
.intro__title_4 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #f78cb6;
  font-weight: 400;
  margin: 0 10px;
}
/*button========================*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f78bb6;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover .intro__title_4 {
  color: white;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} 
.blog {
  background-color: #fcfcfc;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.footer {
  height: 200px;
  background-image: url("footerbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pepe img {
  display: block;
  margin: auto;
}
.pepe {
  padding: 0px;
  margin: 0;
}
.pepe2 {
  align-items: center;
  margin-left: 15px;
}
.pepe3 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  color: #000000;
  box-sizing: border-box;
  border: solid #d2d2d2;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("mail.svg");
  align-items: center;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 15px 20px 15px 40px;
}
.input-form {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  text-align: center;
  display: flex;
}
.rights-reserved {
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  padding-top: 10px;
  line-height: 32px;
  padding-left: 20px;
}
.mirage-footer {
  background-color: #f78bb6;
  height: 54px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.life-is-pain {
  text-align: center;
  background-color: red;
  padding: 100px;
}
.error {
  color: black;
  font-size: 144px;
  text-align: center;
  margin: 0 auto;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services .intro__title, .intro__title_1 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cards button {
  width: 250px;
}
.card1 {
  position: relative;
}
.card1 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card2 {
  position: relative;
}
.card2 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card3 {
  position: relative;
}
.card3 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.card4 {
  position: relative;
}
.card4 svg {
  position: absolute;
  left: 95px;
  top: 85px;
}
.design-things {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-lg-6 p {
  padding: 20px 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: hsl(233, 4%, 58%);
  font-weight: 400;
  line-height: 32px;
}
.design-h1 {
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    color: #56597a;
    font-weight: 900;
    text-indent: -0.1rem;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-bottom: 10px;
}
.our-teamwork {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 40px;
}
.our-teamwork .col-lg-6 {
  display: flex;
  flex-direction: column;
}
#home,
#teamwork,
#blog {
  scroll-margin-top: 9rem;
}
#services {
  scroll-margin-top: 11rem;
}
#about {
  scroll-margin-top: 7.1rem;
}
.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.testimonial img {
  margin-left: -10px;
}
.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 20px;
  padding: 0 40px;
}
.subscribe-blog {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  color: #56597a;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.subscribe .blog-desc {
  width: 500px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: hsl(233, 4%, 58%);
  font-weight: 400;
  line-height: 32px;
}
.subscribe {
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding-bottom: 50px;
}
.subscribe .balloon {
  margin-left: -80px;
}
.balloon svg {
    z-index: -1;
    position: relative;
}
.subscribe input[type=text] {
  border: 0.1em;
}
.subscribe input {
  transition: background-color 0.2s;
}
.subscribe input[type=text]:focus {
  outline: none;
  background-color: #fff1f6;
  transition: background-color 0.2s;
}
.subscribe .input-form {
  box-shadow: 0 10px 15px 1px rgb(224, 224, 224);
}
.footer {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.block .icons {
  padding: 20px 0;
  margin-left: -35px;
}
.block .fa-brands {
  transition: color 0.3s;
  padding: 5px;
}
.block .fa-brands:hover {
  color: #f78cb6;
  cursor: pointer;
}
.footer .block {
  width: 200px;
}